.userRow {
    cursor: pointer;
    background: transparent;
  }
  
  .userRow:hover {
    transition: background-color 0.2s ease;
    background-color: var(--mantine-color-gray-1);
  }

  .userRow[aria-pressed = "true"] {
    background-color: var(--mantine-color-gray-2);
  }

  .userRow[aria-pressed = "true"]:hover {
    background-color: var(--mantine-color-gray-3);
  }

  .scrollableContainer {
    max-height: 300px;
    overflow-y: auto;
  }